body {
    height:100%;
    font-family: sans-serif;
    background-color: #F5F5F5;
    padding-top: 45px;
    margin: 0.5% 5%;
}
.kotak{
	width: 350px;
	background: rgb(0, 112, 146);
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #525252;
	border-radius: 10px;
}
.form{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
.tombol_gambar{
	background: #9b9b9b;
	color: white;
	font-size: 11pt;
	width: 89%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
.tombol{
	background: #9b9b9b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}